<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>คดีความ</title>
        <!--<link rel="stylesheet" href="static/bootstrap.min.css">-->
       	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
        <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
        <!-- Bootstrap Date-Picker Plugin -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>

<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--var date_input=$('input[name="date"]');-->

        <!--var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";-->

        <!--date_input.datepicker({-->
            <!--format: 'mm/dd/yyyy',-->
            <!--container: container,-->
            <!--todayHighlight: true,-->
            <!--autoclose: true,-->
        <!--})-->
    <!--})-->
<!--</script>-->
</head>
<header>
  <nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">
	  <img style="max-width:80px; margin-top: -7px;" src="{{ url_for('static', filename='images/choice7-11.png') }}">
	  </a>
    </div>
  </div>
 <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">เพิ่มข้อมูล <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="\case">คดีความ</a></li>
          <li><a href="\offen">ผู้กระทำความผิด</a></li>

        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">การติดตามคดี <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="\follow">เพิ่มการติดตามคดีใหม่</a></li>
          <li><a href="\update">อัพเดตการติดตามคดี</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">ดูข้อมูล <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="\showdata">ข้อมูลคดีความ</a></li>
          <li><a href="\showof">ข้อมูลผู้กระทำความผิด</a></li>
          <li><a href="\showfoll">ข้อมูลการติดตาม</a></li>
          <li><a href="\join">Join</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="\logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
    </ul>
  </div>
</nav>
</header>
<body>
<div class="container">
  <div>
  <h4>
    <b>Record :</b>
    <b style="color:green">{{ msg }}</b>
  </h4>

</div>
<div>
  <h4>
    <b>หมายเลขคดีความล่าสุด : </b>
    <b style="color:green">{{ idc }}</b>
  </h4>

</div>
  </div>
<div class="container">
  <div class="row">
    <div class="well well-sm">
<form class="form-horizontal" data-toggle="validator" role="form" action = "{{ url_for('addoffen') }}" method = "POST">

<fieldset>

<!-- Form Name -->
<legend style="text-align:center; letter-spacing: 3px">เพิ่มผู้กระทำความผิด</legend>
<div>
<!-- Text input-->
<div class="form-group has-feedback">
  <label class="col-md-4 control-label" for="caseid">หมายเลขคดี</label>
  <div class="col-md-4">
  <input data-error="กรุณากรอกหมายเลขคดี" id="caseid" name="caseid" placeholder="หมายเลขคดี" class="form-control input-md" required="" type="text" value="{{idc}}">
  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
    <div class="help-block with-errors"></div>
  </div>
</div>
<br>
<!-- Text input-->
<div class="form-group has-feedback">
  <label class="col-md-4 control-label" for="ofname">ชื่อสกุลผู้กระทำความผิด</label>
  <div class="col-md-4">
  <input data-error="กรุณากรอก ชื่อและนามสกุล ผู้กระทำความผิด" id="ofname" name="ofname" placeholder="ชื่อ สกุล" class="form-control input-md" required="" type="text" autofocus>
  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
    <div class="help-block with-errors"></div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id">รหัสบัตรประชาชน</label>
  <div class="col-md-4">
  <input id="id" name="id" placeholder="" class="form-control input-md" required="" type="text" pattern="\d*" maxlength="13" minlength="13">

  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="position">ตำแหน่ง</label>
  <div class="col-md-4">
    <select id="position" name="position" class="form-control">
      <option value="">เลือก...</option>
      <option value="พนักงาน">พนักงาน</option>
      <option value="ผู้ช่วย">ผู้ช่วย</option>
      <option value="ผจก">ผจก</option>
      <option value="ทวิภาคี">ทวิภาคี</option>
      <option value="บุคคลภายนอก">บุคคลภายนอก</option>
    </select>
  </div>
</div>

<!--&lt;!&ndash; Text input&ndash;&gt;-->
<!--<div class="form-group">-->
  <!--<label class="col-md-4 control-label" for="worktime">อายุงาน</label>-->
  <!--<div class="col-md-4">-->
      <!--<input id="worktime" name="worktime" placeholder="อายุงาน" class="form-control input-md" required="" type="text">-->
  <!--</div>-->
<!--</div>-->
<br>
<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="month">อายุงาน (เดือน)</label>
  <div class="col-md-2">
    <select id="month" name="month" class="form-control">
      <option value="">เลือก...</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="year">อายุงาน (ปี)</label>
  <div class="col-md-2">
    <select id="year" name="year" class="form-control">
      <option value="">เลือก</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
</div>


  <div style="text-align:center">
    <button type="submit" class="btn btn-primary ">เพิ่มผู้กระทำผิด <span class="glyphicon glyphicon-plus"></button>
    <button type="submit" formaction="/addoffenfoll" class="btn btn-primary btn-success">บันทึกผู้กระทำผิด <span class="glyphicon glyphicon-ok"></span></button>

  </div>

</div>
</fieldset>
</form>
</div>
</div>
</div>
</body>
</html>