<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>คดีความ</title>
        <!--<link rel="stylesheet" href="static/bootstrap.min.css">-->
       	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
        <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
        <!-- Bootstrap Date-Picker Plugin -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>

<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--var date_input=$('input[name="date"]');-->

        <!--var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";-->

        <!--date_input.datepicker({-->
            <!--format: 'mm/dd/yyyy',-->
            <!--container: container,-->
            <!--todayHighlight: true,-->
            <!--autoclose: true,-->
        <!--})-->
    <!--})-->
<!--</script>-->
</head>
<header>
  <nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">
	  <img style="max-width:80px; margin-top: -7px;" src="{{ url_for('static', filename='images/choice7-11.png') }}">
	  </a>
    </div>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">เพิ่มข้อมูล <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="\case">คดีความ</a></li>
          <li><a href="\offen">ผู้กระทำความผิด</a></li>

        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">การติดตามคดี <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="\follow">เพิ่มการติดตามคดีใหม่</a></li>
          <li><a href="\update">อัพเดตการติดตามคดี</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">ดูข้อมูล <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="\showdata">ข้อมูลคดีความ</a></li>
          <li><a href="\showof">ข้อมูลผู้กระทำความผิด</a></li>
          <li><a href="\showfoll">ข้อมูลการติดตาม</a></li>
          <li><a href="\join">Join</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="\logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
    </ul>
  </div>
</nav>
</header>
<body>
<div class="container">
  <div class="row">
  <div class="well well-sm">

<form class="form-horizontal" data-toggle="validator" role="form" action = "{{ url_for('updatefoll') }}" method = "POST">

<fieldset>

<!-- Form Name -->
<legend style="text-align:center; letter-spacing: 3px">Update สถานะติดตาม</legend>

<!-- Text input-->
<div class="form-group has-feedback">
  <label class="col-md-4 control-label" for="caseid">หมายเลขคดี</label>
  <div class="col-md-4">
  <input data-error="กรุณากรอกหมายเลขคดี" id="caseid" name="caseid" placeholder="หมายเลขคดี" class="form-control input-md" required="" type="text">
  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
    <div class="help-block with-errors"></div>
  </div>
</div>

  <div class="form-group has-feedback">
        <label class="col-md-4 control-label" for="datestatus">วันที่อัพเดตสถานะ</label>
            <div class="col-md-3">
                <input id="datestatus" name="datestatus" placeholder="วันที่อัพเดต" class="form-control input-md" required="" type="date">
            </div>
    </div>

<!-- Select Basic -->
<div class="form-group has-feedback">
  <label class="col-md-4 control-label" for="foll_status">สถานะคดีความ</label>
  <div class="col-md-3">
    <select id="foll_status" name="foll_status" class="form-control" required>
      <option value="">เลือก...</option>
      <option value="ติดตามคดี">ติดตามคดี</option>
      <option value="สิ้นสุดคดี">สิ้นสุดคดี</option>
    </select>
  </div>
</div>

  <!--<div class="form-group has-feedback">-->
        <!--<label class="col-md-4 control-label" for="datetype">วันที่อัพเดตลักษณะ</label>-->
            <!--<div class="col-md-3">-->
                <!--<input id="datetype" name="datetype" placeholder="วันที่อัพเดต" class="form-control input-md" type="date" required="required">-->
            <!--</div>-->
    <!--</div>-->

<!-- Select Basic -->
<div class="form-group has-feedback">
  <label class="col-md-4 control-label" for="foll_type">ลักษณะติดตาม</label>
  <div class="col-md-3">
    <select id="foll_type" name="foll_type" class="form-control" >
      <option value="">เลือก...</option>
      <option value="ไกล่เกลี่ย">ไกล่เกลี่ย</option>
      <option value="สอบสวน">สอบสวน</option>
      <option value="ชั้นศาล">ชั้นศาล</option>
      <option value="พิพากษา">พิพากษา</option>
    </select>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="foll_detail">รายละเอียด</label>
  <div class="col-md-4">
    <textarea class="form-control" id="foll_detail" name="foll_detail"></textarea>
  </div>
</div>
<button type="submit" class="btn btn-primary pull-right">Update</button>
</fieldset>
</form>
  </div>
    </div>

</div>



</body>
</html>